.background {
  &-color {
    &-black {
      background-color: $audi-black !important;
    }
    &-white {
      background-color: $audi-white !important;
    }
    &-red {
      background-color: $audi-red !important;
    }
    &-green,
    &-success {
      background-color: $audi-success !important;
    }
    &-yellow,
    &-warning {
      background-color: $audi-warning !important;
    }
    &-error,
    &-danger {
      background-color: $audi-error !important;
    }
    &-grey-1 {
      background-color: $audi-grey-1 !important;
    }
    &-grey-2 {
      background-color: $audi-grey-2 !important;
    }
    &-grey-3 {
      background-color: $audi-grey-3 !important;
    }
    &-grey-4 {
      background-color: $audi-grey-4 !important;
    }
    &-grey-5 {
      background-color: $audi-grey-5 !important;
    }
    &-grey-6 {
      background-color: $audi-grey-6 !important;
    }
    &-grey-7 {
      background-color: $audi-grey-7 !important;
    }
    &-grey-8 {
      background-color: $audi-grey-8 !important;
    }
    &-grey-9 {
      background-color: $audi-grey-9 !important;
    }
    &-grey-10 {
      background-color: $audi-grey-10 !important;
    }
    &-grey-11 {
      background-color: $audi-grey-11 !important;
    }
  }
}
