.border-color {
  &-white {
    border-color: $audi-white !important;
  }

  &-black {
    border-color: $audi-black !important;
  }

  &-grey-1 {
    border-color: $audi-grey-1 !important;
  }

  &-grey-2 {
    border-color: $audi-grey-2 !important;
  }

  &-grey-3 {
    border-color: $audi-grey-3 !important;
  }

  &-grey-4 {
    border-color: $audi-grey-4 !important;
  }

  &-grey-5 {
    border-color: $audi-grey-5 !important;
  }

  &-grey-6 {
    border-color: $audi-grey-6 !important;
  }

  &-grey-7 {
    border-color: $audi-grey-7 !important;
  }

  &-grey-8 {
    border-color: $audi-grey-8 !important;
  }

  &-grey-9 {
    border-color: $audi-grey-9 !important;
  }

  &-grey-10 {
    border-color: $audi-grey-10 !important;
  }

  &-grey-11 {
    border-color: $audi-grey-11 !important;
  }

  &-warm-silver {
    border-color: $audi-warm-silver !important;
  }

  &-green,
  &-success {
    border-color: $audi-success !important;
  }

  &-warning,
  &-yellow {
    border-color: $audi-warning !important;
  }

  &-error,
  &-danger {
    border-color: $audi-error !important;
  }

  &-red {
    border-color: $audi-red !important;
  }
}
