.text {
  &-white {
    color: $audi-white !important;
  }

  &-black {
    color: $audi-black !important;
  }

  &-green,
  &-success {
    color: $audi-success !important;
  }

  &-warning,
  &-yellow {
    color: $audi-warning !important;
  }

  &-error,
  &-danger {
    color: $audi-error !important;
  }

  &-red {
    color: $audi-red !important;
  }
}
