<!-- TODO: rfx this to use wizard for adding new variants, chaining variant value creation together with observables-->
<!-- see https://clarity.design/angular-components/wizard/ -->

<clr-control-container class="clr-control-container--no-max-height">
  <label>
    {{ label }}
  </label>
  <div class="mt-1 mt-md-0">
    <clr-accordion
      [clrAccordionMultiPanel]="true"
      *ngIf="productVariants.length > 0"
      class="mb-2"
    >
      <clr-accordion-panel *ngFor="let variant of productVariants">
        <clr-accordion-title
          class="d-flex justify-content-between align-items-center w-100 py-1"
        >
          <span>{{ variant.name }}</span>
          <clr-button-group (click)="$event.stopPropagation()">
            <clr-button
              type="button"
              class="btn btn-sm btn-icon btn-primary m-0"
              (click)="toggleEditVariantModal(variant.id)"
            >
              <clr-icon shape="edit"></clr-icon>
            </clr-button>
            <clr-button
              type="button"
              class="btn btn-sm btn-icon btn-danger m-0"
              (click)="toggleDeleteVariantModal(variant)"
            >
              <clr-icon shape="trash"></clr-icon>
            </clr-button>
          </clr-button-group>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-icon btn-sm btn-primary me-0"
                (click)="toggleEditVariantValueModal(variant.id)"
              >
                <clr-icon shape="plus"></clr-icon>
                新增選擇 Add Selection
              </button>
            </div>
          </div>
          <div
            class="row"
            *ngIf="variant.variantValues.length > 0; else noValuesTemplate"
          >
            <div class="col-12">
              <table class="table table-compact mt-2 mb-3">
                <thead>
                  <th>選擇名稱</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let variantValue of variant.variantValues">
                    <td>{{ variantValue.name }}</td>
                    <td class="d-flex justify-content-end">
                      <clr-button-group class="me-0">
                        <clr-button
                          type="button"
                          class="btn btn-icon btn-sm btn-primary"
                          (click)="
                            toggleEditVariantValueModal(
                              variant.id,
                              variantValue.id
                            )
                          "
                        >
                          <clr-icon shape="edit"></clr-icon>
                        </clr-button>
                        <clr-button
                          type="button"
                          class="btn btn-icon btn-sm btn-danger"
                          (click)="toggleDeleteVariantValueModal(variantValue)"
                        >
                          <clr-icon shape="trash"></clr-icon>
                        </clr-button>
                      </clr-button-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <ng-template #noValuesTemplate>
            <div class="row">
              <div class="col-12">
                <p class="p5 mt-0">
                  注意：該產品選項需要至少有一筆選擇才會在前台顯示。
                </p>
                <p class="p5 mt-1 mb-3">
                  Note: This product option will only show in the public site
                  when it has at least one selection created.
                </p>
              </div>
            </div>
          </ng-template>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
    <button
      type="button"
      class="btn btn-icon btn-primary"
      (click)="toggleEditVariantModal()"
    >
      <clr-icon shape="plus"> </clr-icon>
      新增產品選項 Add Product Options
    </button>
  </div>
  <clr-alert
    *ngIf="hasError"
    [clrAlertIcon]="'exclamation-circle'"
    [clrAlertType]="'danger'"
    [clrAlertClosable]="false"
  >
    <clr-alert-item
      >請增加至少一個產品選項（內需包含至少一個選擇）Please add at least one
      product option that has at least one selection available</clr-alert-item
    >
  </clr-alert>
</clr-control-container>

<clr-modal [(clrModalOpen)]="editVariantModalOpen" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{
      variantId
        ? '編輯產品選項 Edit Product Option'
        : '新增產品選項 Add Product Option'
    }}
  </h3>
  <div class="modal-body">
    <form
      clrForm
      [formGroup]="variantForm"
      clrLayout="vertical"
      #variantClrForm
    >
      <clr-input-container class="d-flex flex-column w-100 mt-0">
        <label>選項名稱 Option Name</label>
        <input
          type="text"
          clrInput
          formControlName="name"
          class="clr-input-width"
        />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="toggleEditVariantModal()"
    >
      取消 Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="variantId ? updateVariant(variantId) : addVariant()"
    >
      確認 Ok
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="editVariantValueModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    {{
      variantValueId
        ? '編輯選項選擇 Edit Product Option Selection'
        : '新增選項選擇 Add Product Option Selection'
    }}
  </h3>
  <div class="modal-body">
    <form
      clrForm
      [formGroup]="variantValueForm"
      clrLayout="vertical"
      #variantValueClrForm
    >
      <clr-input-container class="d-flex flex-column w-100 mt-0">
        <label>選擇名稱 Selection Name</label>
        <input
          type="text"
          clrInput
          formControlName="name"
          class="clr-input-width"
        />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="toggleEditVariantValueModal()"
    >
      取消 Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="
        variantValueId ? updateVariantValue(variantValueId) : addVariantValue()
      "
    >
      確認 Ok
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="confirmDeleteVariantModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">刪除產品選項 Delete Product Option</h3>
  <div class="modal-body">
    <ng-container *ngIf="variantToDelete !== null">
      <p class="my-1">
        確定要刪除
        <strong>{{ variantToDelete?.name }}</strong
        >?
      </p>
      <p class="mt-2 mb-1">
        Are you sure you want to delete
        <strong>{{ variantToDelete?.name }}</strong
        >?
      </p>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="toggleDeleteVariantModal()"
    >
      取消 Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteVariant(variantToDelete!.id)"
    >
      確認 Ok
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="confirmDeleteVariantValueModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">刪除選項選擇 Delete Product Option Selection</h3>
  <div class="modal-body">
    <ng-container *ngIf="variantValueToDelete !== null">
      <p class="my-1">
        確定要刪除
        <strong>{{ variantValueToDelete?.name }}</strong
        >?
      </p>
      <p class="mt-2 mb-1">
        Are you sure you want to delete
        <strong>{{ variantValueToDelete?.name }}</strong
        >?
      </p>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="toggleDeleteVariantValueModal()"
    >
      取消 Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteVariantValue(variantValueToDelete!.id)"
    >
      確認 Ok
    </button>
  </div>
</clr-modal>
