@import url(~fullpage.js/dist/fullpage.min.css);
@import '~swiper/swiper-bundle';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scss/index.scss';

.debug {
  border: 1px solid red !important;
}

.debug-all {
  border: 1px solid red !important;
  * {
    border: 1px solid red !important;
  }
}

a {
  cursor: pointer;
}

body {
  &.scroll-disabled {
    height: 100%;
    overflow-y: hidden;
  }
}

.router-outlet-wrapper {
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
}

.magnifiable {
  cursor: zoom-in;
}

// body {
//   background-color: $audi-grey-5;
// }
