@import '~swiper/swiper-bundle';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scss/index.scss';

.debug {
  border: 1px solid red !important;
}

.debug-all {
  border: 1px solid red !important;
  * {
    border: 1px solid red !important;
  }
}

a {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

// body {
//   background-color: $audi-grey-5;
// }
