@import url(~fullpage.js/dist/fullpage.min.css);
@import '~swiper/swiper-bundle';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scss/index.scss';

// disables blue background on auto-filled forms
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $audi-white inset !important;
}

// hide scroll bar in chrome
// see: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.debug {
  border: 1px solid red !important;
}

.debug-all {
  border: 1px solid red !important;
  * {
    border: 1px solid red !important;
  }
}

a {
  cursor: pointer;
}

html {
  // prevent chrome from showing white space when you scroll to top or end of the page
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: none !important;
  * {
    overscroll-behavior: none !important;
  }
}

body {
  overflow-x: hidden;
  &.scroll-disabled {
    height: 100%;
    overflow-y: hidden;
  }
}

.router-outlet-wrapper {
  margin-top: 3.5rem;
  min-height: $full-screen-height-minus-audi-header;
}

.clickable {
  cursor: pointer;
}

.magnifiable {
  cursor: zoom-in;
}

// body {
//   background-color: $audi-grey-5;
// }
