<ng-container *ngIf="!productId">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <audi-sys-language-selector></audi-sys-language-selector>
    </div>
  </div>
</ng-container>

<div class="row" [ngClass]="{ 'mt-3': !productId }">
  <div class="col-12">
    <form clrForm [formGroup]="productForm">
      <div class="card mt-0">
        <div
          class="card-header py-3 d-flex align-items-center"
          [ngClass]="{ 'justify-content-between': productId }"
        >
          {{
            productId
              ? '產品管理 | MANAGE PRODUCT'
              : '新增產品 | ADD NEW PRODUCT'
          }}
          <button
            *ngIf="productId"
            class="btn btn-primary btn-sm m-0"
            type="button"
            routerLink="/manage/products/items/new"
          >
            新增產品 Add New Product
          </button>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <clr-input-container>
                  <label>商品名稱 Product Name</label>
                  <input
                    type="text"
                    clrInput
                    formControlName="name"
                    class="w-100"
                  />
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                </clr-input-container>

                <audi-sys-product-category-selector
                  formControlName="productCategoryId"
                  [clrLayout]="'vertical'"
                >
                </audi-sys-product-category-selector>

                <clr-input-container>
                  <label>價格 Price</label>
                  <input type="number" clrInput formControlName="price" />
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                  <clr-control-error *clrIfError="'pattern'"
                    >需大於零 Must be greater than 0</clr-control-error
                  >
                </clr-input-container>

                <clr-textarea-container class="w-100">
                  <label>敘述 Description</label>
                  <textarea
                    clrTextarea
                    formControlName="description"
                    rows="5"
                    class="w-100"
                  ></textarea>
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                </clr-textarea-container>

                <audi-sys-product-variant-editor
                  *ngIf="product != null"
                  [product]="product"
                  [hasError]="noValidVariantsError"
                ></audi-sys-product-variant-editor>

                <audi-sys-wysiwyg-grid
                  formGroupName="wysiwyg"
                  [allowImage]="true"
                  [label]="'內容 Content'"
                >
                </audi-sys-wysiwyg-grid>

                <clr-toggle-container>
                  <label>顯示狀態 Visibility</label>
                  <clr-toggle-wrapper>
                    <input
                      type="checkbox"
                      clrToggle
                      formControlName="isVisible"
                    />
                    <label>{{
                      productForm.get('isVisible')?.value
                        | toZh: 'isVisibleWithEn'
                    }}</label>
                  </clr-toggle-wrapper>
                  <clr-control-helper
                    >產品需要建立選項之後才可公佈 Product options are required
                    before product can be visible to public</clr-control-helper
                  >
                  <clr-control-error *clrIfError="'noValidVariantsError'"
                    >產品需要建立選項之後才可公佈 Product options are required
                    before product can be visible to public</clr-control-error
                  >
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                </clr-toggle-container>

                <clr-toggle-container>
                  <label>折扣狀態 Discount Status</label>
                  <clr-toggle-wrapper>
                    <input
                      type="checkbox"
                      clrToggle
                      formControlName="isDiscounted"
                    />
                    <label>{{
                      productForm.get('isDiscounted')?.value
                        | toZh: 'isDiscountedWithEn'
                    }}</label>
                  </clr-toggle-wrapper>
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                </clr-toggle-container>

                <clr-input-container
                  *ngIf="productForm.get('isDiscounted')?.value === true"
                >
                  <label>折扣 Discount Amount</label>
                  <input
                    type="number"
                    clrInput
                    formControlName="discountAmount"
                  />
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                  <clr-control-error *clrIfError="'pattern'"
                    >需大於零 Must be greater than 0</clr-control-error
                  >
                  <clr-control-error
                    *clrIfError="'isLessThanAnotherControlValue'"
                    >折扣不可比價格高 Discount amount cannot be greater than the
                    product's price</clr-control-error
                  >
                </clr-input-container>

                <clr-date-container
                  *ngIf="productForm.get('isDiscounted')?.value === true"
                >
                  <label>折扣截止日期 Discount Deadline</label>
                  <input
                    type="date"
                    clrDate
                    formControlName="discountDeadline"
                    [min]="today"
                  />
                  <clr-control-error *clrIfError="'required'"
                    >必填 Required</clr-control-error
                  >
                  <clr-control-error *clrIfError="'isEarlierThanToday'"
                    >需晚於今日 Must be later than today
                  </clr-control-error>
                </clr-date-container>

                <audi-sys-product-photo-uploader
                  *ngIf="product !== null"
                  [product]="product"
                  (photoChanges)="onPhotoChanges($any($event))"
                ></audi-sys-product-photo-uploader>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card-footer d-flex align-items-center mt-1 {{
            productId ? 'justify-content-end' : 'justify-content-between'
          }}"
        >
          <ng-container *ngIf="!productId">
            <p class="p3 ms-2 mt-0" style="color: #8c8c8c">
              *商品圖片及選項須在建檔成功後才能新增 Product photos and options
              may only be added after you have created the entry
            </p>
          </ng-container>

          <clr-button-group class="me-0">
            <clr-button
              type="button"
              class="btn-primary-outline"
              routerLink="/manage/products/items"
              >取消 Cancel</clr-button
            >
            <clr-button
              type="button"
              class="btn-primary"
              (click)="productId ? onSave() : onCreate()"
              >儲存 Save</clr-button
            >
          </clr-button-group>
        </div>
      </div>
    </form>
  </div>
</div>
