
.branding-section-bg {
  // background-image: url('/assets/images/homepage-parallax-bg-1.jpeg');
  background-image: url('/assets/images/homepage-parallax-bg-2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-indicator {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateY(-50%);
  animation: bounce 1.2s var(--audi-transition-timing-function) infinite;
  opacity: 0.4;
}

@keyframes bounce {
  50% {
    transform: translateY(0%);
    opacity: 0.8;
  }
}
