<ng-container *ngIf="homepageData$ | async; let data">
  <div
    fullpage
    id="fullpage"
    [options]="fullpageConfig"
    (ref)="getFullpageRef($event)"
  >
    <div class="section">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 hero-slider-wrapper">
            <div class="w-full">
              <audi-hero-slider
                [fadeEffect]="true"
                [autoplay]="false"
                [allowDrag]="!isDesktop"
                [carouselItems]="data.carouselItems"
              >
              </audi-hero-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 full-screen-height">
            TODO: branding paralax here (is it necessary?)
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 full-screen-height">
            TODO: latest news and events card grid here
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 featured-products-slider-wrapper">
            <div class="w-full">
              <h2 class="aui-headline-2 text-black text-center mt-0 mb-8">
                <ng-container
                  *transloco="let translationOutput; read: 'homepage'"
                >
                  {{ translationOutput('featuredProduct') }}
                </ng-container>
              </h2>
              <audi-featured-products-slider
                [fadeEffect]="true"
                [allowDrag]="!isDesktop"
                [featuredProducts]="data.featuredProducts"
              ></audi-featured-products-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 full-screen-height">
            TODO: LATEST PRODUCTS IN MULTI VIEW SLIDER
          </div>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height pt-0">
      <audi-footer></audi-footer>
    </div>
  </div>
</ng-container>
