<ng-container *ngIf="homepageData$ | async; let data">
  <div
    fullpage
    id="fullpage"
    [options]="fullpageConfig"
    (ref)="getFullpageRef($event)"
  >
    <div class="section" *ngIf="data.carouselItems.length > 0">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 hero-slider-wrapper">
            <div class="w-full">
              <audi-hero-slider
                [fadeEffect]="true"
                [autoplay]="false"
                [allowDrag]="!isDesktop"
                [carouselItems]="data.carouselItems"
              >
              </audi-hero-slider>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isDesktop" class="scroll-indicator">
        <audi-icon size="large" iconName="arrow-down"></audi-icon>
      </div>
    </div>
    <div class="section branding-section-bg">
      <div class="aui-layout">
        <div class="aui-grid">
          <div
            class="
              aui-cell aui-cell--12
              full-screen-height
              grid grid-rows-1 grid-cols-12
            "
          >
            <div class="hidden md:inline-grid md:col-span-1"></div>
            <div class="col-span-12 md:col-span-11 max-w-md">
              <div class="w-full h-full flex items-center justify-center">
                <ng-container
                  *transloco="let translationOutput; read: 'homepage'"
                >
                  <audi-card
                    [headerSize]="3"
                    [header]="translationOutput('branding')"
                  >
                    <p class="mb-3">
                      {{ translationOutput('brandingContent1') }}
                    </p>
                    <p class="my-3">
                      {{ translationOutput('brandingContent2') }}
                    </p>
                    <p class="my-3">
                      {{ translationOutput('brandingContent3') }}
                    </p>
                    <audi-button
                      type="primary"
                      class="block w-full mt-5"
                      [routerLink]="['/', language$ | async, 'products']"
                    >
                      <ng-container
                        *transloco="let translationOutput; read: 'buttons'"
                      >
                        {{ translationOutput('productsCTA') }}
                      </ng-container>
                    </audi-button>
                  </audi-card>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 full-screen-height">
            TODO: latest news and events card grid here
          </div>
        </div>
      </div>
    </div>
    <div class="section" *ngIf="data.featuredProducts.length > 0">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 featured-products-slider-wrapper">
            <div class="w-full">
              <h2 class="aui-headline-2 text-black text-center mt-0 mb-8">
                <ng-container
                  *transloco="let translationOutput; read: 'homepage'"
                >
                  {{ translationOutput('featuredProduct') }}
                </ng-container>
              </h2>
              <audi-featured-products-slider
                [fadeEffect]="true"
                [allowDrag]="!isDesktop"
                [featuredProducts]="data.featuredProducts"
              ></audi-featured-products-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height">
      <div class="aui-layout background-color-white">
        <div class="aui-grid">
          <div class="aui-cell aui-cell--12 full-screen-height">
            TODO: LATEST PRODUCTS IN MULTI VIEW SLIDER
          </div>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height pt-0">
      <audi-footer></audi-footer>
    </div>
  </div>
</ng-container>
