<div
  *ngIf="cartItem"
  class="inline-block border border-black border-opacity-20"
>
  <div class="grid grid-rows-1 grid-cols-3 text-center">
    <small
      class="aui-small px-3 py-1 clickable opacity-40 hover:opacity-100"
      (click)="onDecreaseQuantity()"
      >-</small
    >
    <small class="aui-small py-1">{{ cartItem.quantity }}</small>
    <small
      class="aui-small px-3 py-1 opacity-40"
      [ngClass]="{
        'clickable hover:opacity-100': !notEnoughStock,
        'cursor-default': notEnoughStock
      }"
      (click)="onIncreaseQuantity()"
      >+</small
    >
  </div>
</div>
