<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a [routerLink]="['/manage/home']">
        <img src="assets/audi-logo-white.svg" class="audi-logo" />
        <span class="title">Audi CMS</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [clrVerticalNavCollapsed]="false"
    >
      <clr-vertical-nav-group routerLinkActive="active">
        Nav group 1
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 1
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 2
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 3
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        Nav group 2
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 1
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 2
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 3
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        Nav group 3
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 1
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 2
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/1"
            routerLinkActive="active"
          >
            link 3
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</div>
