<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a [routerLink]="['/manage/home']">
        <img src="assets/audi-logo-white.svg" class="audi-logo" />
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <ng-container *ngIf="user$ | async; let user">
            {{ user.email }}
          </ng-container>
          <clr-icon
            shape="administrator"
            size="sm"
            class="ms-1"
            style="margin-bottom: 3px"
          ></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem>
            更改密碼 Change Password <span style="color: red">(TODO)</span></a
          >
          <a clrDropdownItem (click)="logout()">登出 Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [clrVerticalNavCollapsed]="true"
    >
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        首頁 Homepage
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage" routerLinkActive="active">
            TBD
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shopping-cart"></clr-icon>
        產品 Products
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a
            clrVerticalNavLink
            routerLink="/manage/products/categories"
            routerLinkActive="active"
          >
            分類管理 Categories
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/products/items"
            routerLinkActive="active"
          >
            產品管理 Products
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
        會員 Members
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage" routerLinkActive="active">
            TBD
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="truck"></clr-icon>
        訂單 Orders
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage" routerLinkActive="active">
            TBD
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="new"></clr-icon>
        新聞 News
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a
            clrVerticalNavLink
            routerLink="/manage/news"
            routerLinkActive="active"
          >
            列表 List
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/news/new"
            routerLinkActive="active"
          >
            新增 Add
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
        活動 Events
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a
            clrVerticalNavLink
            routerLink="/manage/events"
            routerLinkActive="active"
          >
            列表 List
          </a>
          <a
            clrVerticalNavLink
            routerLink="/manage/events/new"
            routerLinkActive="active"
          >
            新增 Add
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="help-info"></clr-icon>
        疑難雜症 FAQs
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage/faqs" routerLinkActive="active">
            編輯 Edit
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="envelope"></clr-icon>
        信箱 Inbox
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage" routerLinkActive="active">
            TBD
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="talk-bubbles"></clr-icon>
        線上客服 Live Chat
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/manage" routerLinkActive="active">
            TBD
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</div>
