.server-error-bg {
  background-image: url('/assets/images/error-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--audi-black);
    opacity: 0.7;
    z-index: 1;
  }
}
