<!-- TODO: transloco -->

<ng-container *transloco="let translationOutput">
  <div class="login-wrapper">
    <div class="grid grid-rows-1 grid-cols-12 h-full relative z-103">
      <div
        class="
          col-span-12
          sm:col-span-6
          md:col-span-5
          xl:col-span-4
          background-color-white
          h-full
          flex flex-col
          p-10
          overflow-y-auto
        "
      >
        <audi-button type="icon" class="block">
          <a
            [routerLink]="['/', currentLanguage, 'home']"
            class="w-28 flex items-center justify-center"
          >
            <img src="assets/audi-logo-black.svg" class="w-full" />
          </a>
        </audi-button>

        <div class="my-auto">
          <div class="block w-full">
            <audi-nav-bar class="block my-4" [isSmall]="false">
              <audi-nav-item
                [isActive]="currentMode === 'login'"
                (click)="currentMode = 'login'"
                >Login</audi-nav-item
              >
              <audi-nav-item
                [isActive]="currentMode === 'register'"
                (click)="currentMode = 'register'"
                >Register</audi-nav-item
              >
            </audi-nav-bar>
          </div>

          <div class="block w-full">
            <!-- LOGIN FORM -->

            <form *ngIf="currentMode === 'login'" [formGroup]="loginForm">
              <audi-input-container
                formControlName="userName"
                [label]="'Email address'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your username or
                  email.</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error>{{
                  translationOutput('formErrors.required')
                }}</audi-control-error>
              </audi-input-container>
              <audi-input-container
                formControlName="password"
                type="password"
                [label]="'Password'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your password</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error>{{
                  translationOutput('formErrors.required')
                }}</audi-control-error>
              </audi-input-container>

              <div class="block w-full mt-10">
                <audi-button class="block w-full" (click)="login()"
                  >Login</audi-button
                >

                <a
                  class="aui-small aui-textlink inline-block mt-10"
                  (click)="forgotPwModalOpen = true"
                  >Forgot Password?</a
                >
              </div>
            </form>

            <!-- REGISTER FORM -->
            <form *ngIf="currentMode === 'register'" [formGroup]="registerForm">
              <audi-input-container
                formControlName="lastName"
                [label]="'Last Name'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your last name.</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error>{{
                  translationOutput('formErrors.required')
                }}</audi-control-error>
              </audi-input-container>
              <audi-input-container
                formControlName="firstName"
                [label]="'First Name'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your first name.</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error>{{
                  translationOutput('formErrors.required')
                }}</audi-control-error>
              </audi-input-container>
              <audi-input-container
                formControlName="userName"
                [label]="'Username'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your username.</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error>{{
                  translationOutput('formErrors.required')
                }}</audi-control-error>
              </audi-input-container>
              <audi-input-container
                formControlName="email"
                [label]="'Email address'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your email.</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error
                  *ngIf="registerForm.get('email')?.hasError('required')"
                  >{{
                    translationOutput('formErrors.required')
                  }}</audi-control-error
                >
                <audi-control-error
                  *ngIf="registerForm.get('email')?.hasError('email')"
                  >{{
                    translationOutput('formErrors.email')
                  }}</audi-control-error
                >
              </audi-input-container>
              <audi-input-container
                formControlName="password"
                type="password"
                [label]="'Password'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please enter your password</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error
                  *ngIf="registerForm.get('password')?.hasError('required')"
                >
                  {{ translationOutput('formErrors.required') }}
                </audi-control-error>
                <audi-control-error
                  *ngIf="registerForm.get('password')?.hasError('minlength')"
                >
                  密碼需至少8位數 Password must be at least 8 characters
                </audi-control-error>
              </audi-input-container>
              <audi-input-container
                formControlName="confirmPassword"
                type="password"
                [label]="'Confirm Password'"
                [isLightTheme]="false"
                [floatingLabel]="true"
              >
                <audi-control-description
                  >Please confirm your password</audi-control-description
                >
                <audi-control-valid></audi-control-valid>
                <audi-control-error
                  *ngIf="
                    registerForm.get('confirmPassword')?.hasError('required')
                  "
                >
                  {{ translationOutput('formErrors.required') }}
                </audi-control-error>
                <audi-control-error
                  *ngIf="
                    registerForm.get('confirmPassword')?.hasError('minlength')
                  "
                >
                  密碼需至少8位數 Password must be at least 8 characters
                </audi-control-error>
                <audi-control-error
                  *ngIf="
                    registerForm
                      .get('confirmPassword')
                      ?.hasError('isNotSameValue')
                  "
                >
                  與新密碼不符 Passwords do not match
                </audi-control-error>
              </audi-input-container>

              <div class="block w-full mt-10">
                <audi-button class="block w-full" (click)="register()"
                  >Register</audi-button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-span-full sm:col-span-6 md:col-span-7 xl:col-span-8"
      ></div>
    </div>
  </div>

  <audi-modal
    *ngIf="forgotPwForm"
    [(isOpen)]="forgotPwModalOpen"
    [header]="'忘記密碼 Forgot Password'"
    [headerSize]="4"
    [bgColor]="'white'"
    [textColor]="'black'"
    [type]="'default'"
    [isClosable]="false"
  >
    <form [formGroup]="forgotPwForm">
      <div class="max-w-xs block mb-3">
        <audi-input-container
          formControlName="email"
          [label]="'Email address'"
          [isLightTheme]="false"
          [floatingLabel]="true"
        >
          <audi-control-description
            >Please enter your email.</audi-control-description
          >
          <audi-control-valid></audi-control-valid>
          <audi-control-error
            *ngIf="forgotPwForm.get('email')?.hasError('required')"
            >{{ translationOutput('formErrors.required') }}</audi-control-error
          >
          <audi-control-error
            *ngIf="forgotPwForm.get('email')?.hasError('email')"
            >{{ translationOutput('formErrors.email') }}</audi-control-error
          >
        </audi-input-container>
      </div>

      <audi-alert-container
        *ngIf="emailNotFoundError"
        alertStyle="danger"
        class="block"
      >
        <p>Email not found</p>
      </audi-alert-container>

      <div class="block mt-6">
        <audi-button-group>
          <audi-button type="primary" (click)="submitForgotPw()">{{
            translationOutput('buttons.submit')
          }}</audi-button>
          <audi-button type="secondary" (click)="closeForgotPwModal()">{{
            translationOutput('buttons.cancel')
          }}</audi-button>
        </audi-button-group>
      </div>
    </form>
  </audi-modal>

  <audi-modal
    *ngIf="resetPwForm"
    [(isOpen)]="resetPwModalOpen"
    [header]="'更改密碼 Change Password'"
    [headerSize]="4"
    [bgColor]="'white'"
    [textColor]="'black'"
    [type]="'default'"
    [isClosable]="false"
  >
    <form [formGroup]="resetPwForm">
      <div class="max-w-xs block mb-3">
        <audi-input-container
          formControlName="newPassword"
          type="password"
          [label]="'Password'"
          [isLightTheme]="false"
          [floatingLabel]="true"
        >
          <audi-control-description
            >Please enter your password</audi-control-description
          >
          <audi-control-valid></audi-control-valid>
          <audi-control-error
            *ngIf="resetPwForm.get('newPassword')?.hasError('required')"
          >
            {{ translationOutput('formErrors.required') }}
          </audi-control-error>
          <audi-control-error
            *ngIf="resetPwForm.get('newPassword')?.hasError('minlength')"
          >
            密碼需至少8位數 Password must be at least 8 characters
          </audi-control-error>
        </audi-input-container>
        <audi-input-container
          formControlName="confirmNewPassword"
          type="password"
          [label]="'Confirm Password'"
          [isLightTheme]="false"
          [floatingLabel]="true"
        >
          <audi-control-description
            >Please confirm your password</audi-control-description
          >
          <audi-control-valid></audi-control-valid>
          <audi-control-error
            *ngIf="resetPwForm.get('confirmNewPassword')?.hasError('required')"
          >
            {{ translationOutput('formErrors.required') }}
          </audi-control-error>
          <audi-control-error
            *ngIf="resetPwForm.get('confirmNewPassword')?.hasError('minlength')"
          >
            密碼需至少8位數 Password must be at least 8 characters
          </audi-control-error>
          <audi-control-error
            *ngIf="
              resetPwForm.get('confirmNewPassword')?.hasError('isNotSameValue')
            "
          >
            與新密碼不符 Passwords do not match
          </audi-control-error>
        </audi-input-container>
      </div>

      <div class="block mt-6">
        <audi-button-group>
          <audi-button type="primary" (click)="submitResetPw()">{{
            translationOutput('buttons.submit')
          }}</audi-button>
          <audi-button type="secondary" (click)="closeResetPwModal()">{{
            translationOutput('buttons.cancel')
          }}</audi-button>
        </audi-button-group>
      </div>
    </form>
  </audi-modal>
</ng-container>
