.custom-filter {
  display: flex;
  flex-direction: column;
  .label {
    margin-bottom: 10px;
    &.clickable {
      cursor: pointer;
    }
    &-active {
      transform: translateY(0.5px);
      background: #e8e8e8;
    }
  }
}
