audi-wysiwyg-grid-display {
  font-family: $aui-font-default;
  font-weight: $aui-font-weight-light;
  color: $aui-color-body;

  strong {
    font-weight: bold;
  }

  ul,
  ol {
    // @extend .aui-list;
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    @include aui-responsive-type(0, 1.5);

    li {
      // @extend .aui-list__item;
      margin-left: $aui-list-style-position;

      &::before {
        display: inline-block;
        width: $aui-list-style-position;
        margin-left: #{$aui-list-style-position * -1};
        color: rgba(#000, 0.3);
      }
    }

    li + li {
      margin-top: unit(3);
    }
  }

  ul {
    // @extend .aui-list--arrow;
    li {
      &::before {
        content: '›';
      }
    }
  }

  ol {
    // @extend .aui-list--number;
    li {
      &::before {
        content: counter(li);
        counter-increment: li;
      }
    }
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  h1 {
    @extend .aui-headline-1;
  }

  h2 {
    @extend .aui-headline-2;
  }

  h3 {
    @extend .aui-headline-3;
  }

  h4 {
    @extend .aui-headline-4;
  }

  h5 {
    @extend .aui-headline-5;
  }

  h6 {
    @extend .aui-headline-6;
  }

  a {
    @extend .aui-textlink;
  }

  .ql {
    &-align {
      &-justify {
        display: flex;
        justify-content: flex-start;
        text-align: left;
      }
      &-center {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      &-right {
        display: flex;
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}
