<audi-header>
  <div class="w-screen flex items-center justify-between">
    <audi-button type="icon-large">
      <audi-icon size="large" iconName="off-canvas"></audi-icon>
    </audi-button>
    <a [routerLink]="['']" class="w-20 flex items-center justify-center">
      <img src="assets/audi-logo-black.svg" class="w-full" />
    </a>
    <div class="w-12 flex items-center justify-center">
      <audi-flyout [isLightTheme]="false" position="center">
        <audi-button
          type="icon"
          #triggeringElement
          flyoutTriggerSetter
          [applyToInnerElement]="true"
        >
          <audi-icon size="small" iconName="languages"></audi-icon>
        </audi-button>
        <div class="flyout-content">
          <audi-nav-list [isLightTheme]="false">
            <audi-nav-item>中文 ZH</audi-nav-item>
            <audi-nav-item>English EN</audi-nav-item>
          </audi-nav-list>
        </div>
      </audi-flyout>
    </div>
  </div>
</audi-header>

<div class="aui-layout">
  <div class="aui-grid">
    <div class="aui-cell aui-cell--12">
      <router-outlet></router-outlet>
      <!-- TODO: note - all RWD
          - carousel sliders: use swiper & fslightbox.js
              - product image slider (on click expand to fslightbox)
              - hero audi slider (with color box for text on one side)
              - featured item slider

          - transloco & routing implementation
          - nav
          - footer
          - menu
        -->
    </div>
  </div>
</div>

<audi-alert-container-global></audi-alert-container-global>
<audi-notification-container></audi-notification-container>
<audi-progress-bar
  *ngIf="isLoadingApiRequests$ | async"
  class="w-screen fixed bottom-0 left-0 right-0"
  [isContinuous]="true"
></audi-progress-bar>
<!-- <audi-splash-screen></audi-splash-screen> -->

<!-- audi table template -->
<!--

  <div
    class="
      aui-table
      aui-table--stretched
      aui-table--padded
      aui-theme-light
      text-light
    "
  >
    <table>
      <caption>
        Table caption
      </caption>
      <thead>
        <tr>
          <th class="aui-table__cell--colored">Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 4</th>
        </tr>
      </thead>
      <tr>
        <td class="aui-table__cell--colored">Row1, Column1</td>
        <td>Row1, Column2</td>
        <td>Row1, Column3</td>
        <td>Row1, Column4</td>
      </tr>
      <tr>
        <td class="aui-table__cell--colored">Row2, Column1</td>
        <td>Row2, Column2</td>
        <td>Row2, Column3</td>
        <td>Row2, Column4</td>
      </tr>
      <tr class="aui-table__cell--last-row">
        <td class="aui-table__cell--colored">Row2, Column1</td>
        <td>Row2, Column2</td>
        <td>Row2, Column3</td>
        <td>Row2, Column4</td>
      </tr>
    </table>
  </div>

-->
