<!-- TODO: note - all RWD
    - homepage / fullpage.js
  -->

<audi-nav></audi-nav>

<div class="router-outlet-wrapper">
  <router-outlet></router-outlet>
</div>

<audi-footer></audi-footer>

<audi-alert-container-global></audi-alert-container-global>
<audi-notification-container></audi-notification-container>
<audi-progress-bar
  *ngIf="isLoadingApiRequests$ | async"
  class="w-screen fixed bottom-0 left-0 right-0"
  [isContinuous]="true"
></audi-progress-bar>
<!-- <audi-splash-screen></audi-splash-screen> -->

<!--
  audi grid system:
  wrap component templates inside of this,
  not in app component in case you want full screen sliders
-->
<!-- <div class="aui-layout">
  <div class="aui-grid">
    <div class="aui-cell aui-cell--12">

    </div>
  </div>
</div> -->

<!-- audi table template -->
<!--

  <div
    class="
      aui-table
      aui-table--stretched
      aui-table--padded
      aui-theme-light
      text-light
    "
  >
    <table>
      <caption>
        Table caption
      </caption>
      <thead>
        <tr>
          <th class="aui-table__cell--colored">Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 4</th>
        </tr>
      </thead>
      <tr>
        <td class="aui-table__cell--colored">Row1, Column1</td>
        <td>Row1, Column2</td>
        <td>Row1, Column3</td>
        <td>Row1, Column4</td>
      </tr>
      <tr>
        <td class="aui-table__cell--colored">Row2, Column1</td>
        <td>Row2, Column2</td>
        <td>Row2, Column3</td>
        <td>Row2, Column4</td>
      </tr>
      <tr class="aui-table__cell--last-row">
        <td class="aui-table__cell--colored">Row2, Column1</td>
        <td>Row2, Column2</td>
        <td>Row2, Column3</td>
        <td>Row2, Column4</td>
      </tr>
    </table>
  </div>

-->
