$product-image-width: 150px;

.empty-cart {
  min-height: calc(60vh - 56px);
  @media (min-width: 768px) {
    min-height: calc(50vh - 56px);
  }
}

.aui-table {
  text-align: center;
  vertical-align: middle;
  * {
    text-align: center;
    vertical-align: middle;
  }
}

.product {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: calc(#{$product-image-width} / 2);
  &-img {
    width: $product-image-width;
    max-width: $product-image-width;
  }
}
