@import '~@ng-select/ng-select/themes/default.theme.css';

// see: https://www.audi.com/ci/en/intro/basics/colours.html
$audi-black: #000000;
$audi-red: #f50537;
$audi-white: #ffffff;
$audi-grey-1: #f2f2f2;
$audi-grey-2: #e5e5e5;
$audi-grey-3: #d9d9d9;
$audi-grey-4: #cccccc;
$audi-grey-5: #b3b3b3;
$audi-grey-6: #999999;
$audi-grey-7: #808080;
$audi-grey-8: #666666;
$audi-grey-9: #4c4c4c;
$audi-grey-10: #333333;
$audi-grey-11: #1a1a1a;
$audi-success: #009900;
$audi-warning: #ffaa00;
$audi-error: #bb0a30;

* {
  outline: unset !important;
}

[cds-text*=body]::before {
  margin-bottom: 0 !important;
}

.btn-primary--audi {
  background: $audi-black !important;
  border-color: $audi-black !important;
  transition: all 0.3s cubic-bezier(0.75, 0.02, 0.5, 1) !important;
  color: $audi-white !important;
  &:active {
    box-shadow: 0 .1rem 0 0 $audi-grey-8 inset !important;
  }
  &:hover {
    color: $audi-white !important;
    background: $audi-grey-10 !important;
  }
}

.btn-primary-outline--audi {
  border-color: $audi-black !important;
  transition: all 0.3s cubic-bezier(0.75, 0.02, 0.5, 1) !important;
  color: $audi-black !important;
  &:active {
    box-shadow: 0 .1rem 0 0 $audi-black inset !important;
  }
  &:hover {
    color: $audi-black !important;
    background: $audi-grey-1 !important;
  }
}

.login-wrapper {
  background: url('assets/login-img.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aui-button {
  font-size: 13px;
}

.card-body {
  .datagrid {
    margin-top: 0 !important;
    border: unset;
    &-footer {
      border: unset;
    }
  }
}
