@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'scss/index.scss';

.debug {
  border: 1px solid red !important;
}

.debug-all {
  border: 1px solid red !important;
  * {
    border: 1px solid red !important;
  }
}

.text-black {
  color: var(--audi-black) !important;
}

.text-error {
  color: var(--clr-forms-invalid-color) !important;
}

.border-error {
  border: 1px solid var(--clr-forms-invalid-color) !important;
  border-radius: 5px;
}

.pointer {
  cursor: pointer !important;
}

quill-editor {
  display: block;
  &.clr-input {
    padding: 0;
    height: unset;
    max-height: unset;
  }
  .ql-editor {
    min-height: 30vh;
  }
}

audi-sys-quill-editor {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: unset !important;

  .audi-quill-editor-modal {
    .modal-header {
      display: none;
    }
  }

  textarea {
    max-width: 100% !important;
  }
}
