<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <img src="assets/audi-logo-black.svg" class="audi-logo login-logo" />
      <h3 class="welcome">Welcome to</h3>
      Audi CMS
    </section>
    <form
      clrForm
      clrLayout="vertical"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="login-group"
      #loginClrForm
    >
      <clr-input-container>
        <label>帳號或信箱 Username or Email</label>
        <input type="text" clrInput formControlName="userName" />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
      </clr-input-container>
      <clr-password-container>
        <label>密碼 Password</label>
        <input type="password" clrPassword formControlName="password" />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
      </clr-password-container>
      <button
        class="
          aui-button aui-button--primary aui-button--stretched
          aui-js-response
          mt-4
        "
        type="submit"
        [clrLoading]="loginBtnState"
      >
        登入 Login
      </button>
    </form>
  </form>
</div>

<clr-modal [(clrModalOpen)]="resetPwModalOpen" [clrModalClosable]="false">
  <h3 class="modal-title">更改密碼 Change Password</h3>
  <div class="modal-body" *ngIf="resetPwForm">
    <form
      clrForm
      [formGroup]="resetPwForm"
      clrLayout="vertical"
      #resetPwClrForm
    >
      <clr-password-container>
        <label>新密碼 New Password</label>
        <input type="password" clrPassword formControlName="newPassword" />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'"
          >密碼需至少8位數 Password must be at least 8
          characters</clr-control-error
        >
      </clr-password-container>
      <clr-password-container>
        <label>確認新密碼 Confirm New Password</label>
        <input
          type="password"
          clrPassword
          formControlName="confirmNewPassword"
        />
        <clr-control-error *clrIfError="'required'"
          >必填 Required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'"
          >密碼需至少8位數 Password must be at least 8
          characters</clr-control-error
        >
        <clr-control-error *clrIfError="'isNotSameValue'"
          >與新密碼不符 Passwords do not match</clr-control-error
        >
      </clr-password-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="resetPwModalOpen = false"
    >
      取消 Cancel
    </button>
    <button
      [clrLoading]="resetPwBtnState"
      type="button"
      class="btn btn-primary"
      (click)="submitResetPw()"
    >
      確認 Ok
    </button>
  </div>
</clr-modal>
