::ng-deep .wysiwyg .clr-error .clr-validate-icon {
  display: none;
}

.__clr-error {
  color: #c92100;
}

.wysiwyg {
  &-preview-wrapper {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    padding: 12px 15px;
  }

  &--no-content {
    margin-top: 0;
    color: #b3b3b3;
    width: 100%;
    text-align: center;
  }
}

// drag-n-drop stuff

@mixin btn-outline-hover-like {
  border-color: #0072a3;
  border-color: var(--clr-btn-default-outline-border-color, #0072a3);
  background-color: transparent;
  background-color: var(--clr-btn-default-outline-bg-color, transparent);
  color: #0072a3;
  color: var(--clr-btn-default-outline-color, #0072a3);

  background-color: #e3f5fc;
  background-color: var(--clr-btn-default-outline-hover-bg-color, #e3f5fc);
  color: #00567a;
  color: var(--clr-btn-default-outline-hover-color, #00567a);
}

.cdk-drag-preview {
  .wysiwyg-rows {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    background-color: #fff;
  }
  .drag-drop-sort-icon {
    @include btn-outline-hover-like;
  }
}

.drag-drop {
  &-sort-icon {
    text-align: center;
    cursor: move;
    width: 27px;
    height: 27px;
    border: 1px solid var(--clr-forms-border-color, #b3b3b3);
    border: 1px solid #b3b3b3;
    &:hover {
      @include btn-outline-hover-like;
    }
  }
  &-placeholder {
    background: #ccc;
    border: dotted 1px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    margin-bottom: 1rem;
  }
}

.wysiwyg-rows.cdk-drop-list-dragging
  .banners__item-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.swap-col-icon {
  @extend .drag-drop-sort-icon;
  cursor: pointer;
}
