<ng-container *ngIf="cookieConsent === null">
  <ng-container *transloco="let translationOutput">
    <h4 class="aui-headline-5">
      {{ translationOutput('cookieConsent.title') }}
    </h4>

    <p class="mt-2">
      {{ translationOutput('cookieConsent.messageFirstPart') }}
      ><a
        href="https://www.audi.com.tw/tw/web/zh/privacy-policy.html"
        target="_blank"
        class="aui-textlink"
        >{{ translationOutput('cookieConsent.privacyPolicy') }}</a
      >{{ translationOutput('cookieConsent.messageSecondPart') }}
    </p>

    <audi-button-group class="mt-3 mb-1 block">
      <audi-button
        [type]="'primary'"
        attributeSetter
        [attributeName]="'data-close'"
        [applyToInnerNode]="true"
        (click)="setCookieConsent(1)"
      >
        {{ translationOutput('cookieConsent.acceptBtn') }}
      </audi-button>
      <audi-button
        [type]="'secondary'"
        attributeSetter
        [attributeName]="'data-close'"
        [applyToInnerNode]="true"
        (click)="setCookieConsent(0)"
      >
        {{ translationOutput('cookieConsent.declineBtn') }}
      </audi-button>
    </audi-button-group>
  </ng-container>
</ng-container>
