<ng-container *transloco="let translationOutput">
  <div class="header">
    <div class="header-bg" #headerBg></div>
    <h1 class="aui-headline-2 z-2 text-white">
      {{ translationOutput('products.audiCollections') }}
    </h1>
    <h4
      class="aui-headline-4 z-2 text-white mt-2"
      *ngIf="
        getProductCategoryName(productParams.productCategoryId);
        let categoryName
      "
    >
      {{ categoryName }}
    </h4>
    <small class="aui-small z-2 text-white mt-3" *ngIf="pagination"
      >{{ pagination.totalItems }}
      {{ translationOutput('products.results') }}</small
    >
  </div>

  <div class="aui-layout">
    <div class="aui-grid">
      <div class="aui-cell aui-cell--12">
        <div class="w-full flex items-center justify-between">
          <audi-button-group>
            <audi-button
              [isLightTheme]="isParamsEmpty"
              type="primary"
              class="flex"
              (click)="filterModalIsOpen = true"
            >
              <audi-icon size="small" iconName="filter"></audi-icon>
              <span class="ml-2">{{
                translationOutput('buttons.filter')
              }}</span>
            </audi-button>
            <audi-button
              *ngIf="!isParamsEmpty && isDesktop"
              [isLightTheme]="true"
              type="primary"
              class="flex"
              (click)="onResetFilters()"
            >
              <audi-icon size="small" iconName="replay"></audi-icon>
              <span class="ml-2">{{
                translationOutput('buttons.clearFilters')
              }}</span>
            </audi-button>
          </audi-button-group>
          <audi-flyout position="center">
            <audi-button
              [isLightTheme]="true"
              type="primary"
              class="flex flex-row-reverse items-center"
              #triggeringElement
              flyoutTriggerSetter
              [applyToInnerElement]="true"
            >
              <audi-icon size="small" iconName="arrow-down"></audi-icon>
              <span style="padding-bottom: 1px; margin-right: 2px">{{
                translationOutput('buttons.sortBy')
              }}</span>
            </audi-button>
            <div class="flyout-content">
              <audi-nav-list>
                <audi-nav-item
                  [isActive]="productParams.sort === productSortEnum.Price"
                  (click)="onSortProduct(productSortEnum.Price)"
                  >{{
                    translationOutput('products.priceLowToHigh')
                  }}</audi-nav-item
                >
                <audi-nav-item
                  [isActive]="productParams.sort === productSortEnum.PriceDesc"
                  (click)="onSortProduct(productSortEnum.PriceDesc)"
                  >{{
                    translationOutput('products.priceHighToLow')
                  }}</audi-nav-item
                >
                <audi-nav-item
                  [isActive]="productParams.sort === productSortEnum.CreatedAt"
                  (click)="onSortProduct(productSortEnum.CreatedAt)"
                  >{{
                    translationOutput('products.dateOldToNew')
                  }}</audi-nav-item
                >
                <audi-nav-item
                  [isActive]="
                    productParams.sort === productSortEnum.CreatedAtDesc
                  "
                  (click)="onSortProduct(productSortEnum.CreatedAtDesc)"
                  >{{
                    translationOutput('products.dateNewToOld')
                  }}</audi-nav-item
                >
              </audi-nav-list>
            </div>
          </audi-flyout>
        </div>
        <div class="w-full my-6 grid grid-rows-none grid-cols-12">
          <ng-container *ngIf="products.length > 0; else noProducts">
            <div
              *ngFor="let product of products"
              class="
                col-span-12
                sm:col-span-6
                md:col-span-4
                2xl:col-span-3
                mx-2
                my-4
              "
            >
              <audi-product-card [product]="product"></audi-product-card>
            </div>
          </ng-container>
          <ng-template #noProducts>
            <h1
              class="
                col-span-12
                aui-headline-3
                w-full
                flex
                items-center
                justify-center
                no-products
              "
            >
              {{ translationOutput('products.noProductsAvailable') }}
            </h1>
          </ng-template>
        </div>
        <div
          class="w-full flex items-center justify-center mb-12"
          *ngIf="
            pagination && pagination.totalItems > 0 && pagination.totalPages > 1
          "
        >
          <audi-pagination
            [type]="'desktop'"
            [pagination]="pagination"
            (pageChange)="onPageChange($event)"
          >
          </audi-pagination>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<audi-modal
  *transloco="let translationOutput"
  [(isOpen)]="filterModalIsOpen"
  [header]="translationOutput('modals.filters')"
  [headerSize]="3"
  [bgColor]="'white'"
  [textColor]="'black'"
  [type]="'full-page'"
  [isClosable]="true"
>
  <form [formGroup]="filterForm" class="mt-8">
    <div class="block mb-4">
      <audi-control-grid
        [label]="translationOutput('formLabels.productName')"
        type="input"
      >
        <audi-input-container
          *projectAsField
          formControlName="name"
          [label]="translationOutput('formLabels.productName')"
          type="text"
        >
        </audi-input-container>
      </audi-control-grid>
    </div>
    <div class="block mb-4">
      <audi-control-grid
        [label]="translationOutput('formLabels.productCategory')"
        type="input"
      >
        <audi-select-container
          *projectAsField
          formControlName="productCategoryId"
          [label]="translationOutput('formLabels.productCategory')"
        >
          <option
            *ngFor="let category of productCategories"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </audi-select-container>
      </audi-control-grid>
    </div>
    <div class="block mb-4">
      <audi-control-grid
        [label]="translationOutput('formLabels.price')"
        type="input"
        [isInvalid]="
          (filterForm.get('priceMin')!.touched &&
            filterForm.get('priceMin')!.invalid) ||
          (filterForm.get('priceMax')!.touched &&
            filterForm.get('priceMax')!.invalid)
        "
      >
        <audi-input-container
          *projectAsField
          formControlName="priceMin"
          [label]="translationOutput('formLabels.priceMin')"
          type="number"
        >
          <audi-control-error
            *ngIf="filterForm.get('priceMin')?.hasError('pattern')"
            >{{ translationOutput('formErrors.number') }}</audi-control-error
          >
        </audi-input-container>
        <audi-input-container
          *projectAsField
          formControlName="priceMax"
          [label]="translationOutput('formLabels.priceMax')"
          type="number"
        >
          <audi-control-error
            *ngIf="filterForm.get('priceMax')?.hasError('pattern')"
            >{{ translationOutput('formErrors.number') }}</audi-control-error
          >
        </audi-input-container>
        <audi-control-error
          type="grid"
          *ngIf="
            filterForm
              .get('priceMax')
              ?.hasError('isEqualOrGreaterThanAnotherControlValue')
          "
        >
          {{ translationOutput('formErrors.priceMaxNotGreaterThanPriceMin') }}
        </audi-control-error>
      </audi-control-grid>
    </div>
    <div class="block mb-4">
      <audi-control-grid
        [label]="translationOutput('formLabels.discounted')"
        type="input"
      >
        <div class="mt-6" *projectAsField>
          <audi-toggle-container
            formControlName="isDiscounted"
          ></audi-toggle-container>
        </div>
      </audi-control-grid>
    </div>
    <div class="mt-20 w-full flex justify-end">
      <audi-button-group>
        <audi-button
          *ngIf="!isParamsEmpty && !isDesktop"
          [isLightTheme]="false"
          type="secondary"
          (click)="onResetFilters()"
        >
          {{ translationOutput('buttons.clearFilters') }}
        </audi-button>
        <audi-button
          *ngIf="isDesktop || (!isDesktop && isParamsEmpty)"
          type="secondary"
          (click)="filterModalIsOpen = false"
          >{{ translationOutput('buttons.cancel') }}</audi-button
        >
        <audi-button type="primary" (click)="onSubmitFilter()">{{
          translationOutput('buttons.submit')
        }}</audi-button>
      </audi-button-group>
    </div>
  </form>
</audi-modal>
