.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 50vh;
  }

  &-bg {
    position: absolute;
    width: 100vw;
    min-height: 40vh;
    transform: translateY(0px);
    background-image: url('/assets/images/product-list-default-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: 768px) {
      min-height: 50vh;
      background-image: url('/assets/images/product-list-default-bg-desktop.jpg');
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      background-color: var(--audi-black);
    }
  }
}

.no-products {
  min-height: calc(40vh - 56px);
  margin-bottom: 52px;
  @media (min-width: 768px) {
    min-height: calc(35vh - 56px);
  }
}
