<!-- TODO: transloco -->

<div class="header">
  <div class="header-bg" #headerBg></div>
  <h1 class="aui-headline-2 z-2 text-white">Products</h1>
  <small class="aui-small z-2 text-white mt-2">99 results</small>
</div>

<div class="aui-layout">
  <div class="aui-grid">
    <div class="aui-cell aui-cell--12">
      <div class="grid grid-rows-1 grid-cols-12 w-full">
        <div
          class="
            col-span-3
            flex flex-col
            items-center
            justify-center
            p-10
            debug
          "
        >
          Filter here
          <ul>
            <li>parent category</li>
            <li>sub category</li>
            <li>price min max</li>
          </ul>
        </div>
        <div
          class="
            col-span-9
            flex flex-col
            items-center
            justify-center
            p-10
            debug
          "
        >
          Product lists
          <ul>
            <li>sort by</li>
            <li>price low to high</li>
            <li>price high to low</li>
            <li>newest to oldest</li>
            <li>oldest to newest</li>
          </ul>
          <p>out of stock</p>
          <p>favorite</p>
          <p>pagination</p>
          <p>on hover change photo</p>
        </div>
      </div>
    </div>
  </div>
</div>
