:host {
  display: block;
  width: 100%;
}

.audi-ql-preview-wrapper {
  position: relative;

  // &:hover {
  //   cursor: pointer;
  // }
  // display: flex;

  .ql-editor {
    min-height: 1.8rem;
  }

  button.btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  &:hover {
    button.btn {
      display: inline-block;
    }
  }
}

.audi-ql-preview {
  white-space: pre-wrap;
  max-height: 45vh;
  overflow-y: auto;
  width: 100%;
  border-radius: 2px;
  flex-grow: 1 1 auto;
}

.modal-content {
  .ql-container.ql-snow {
    height: auto;
  }
  .ql-editor {
    max-height: 400px;
    overflow-y: scroll;
  }
}
