<div
  class="aui-alert aui-js-alert block background-color-{{ bgColor }} text-{{
    textColor
  }}"
  [ngClass]="{
    'aui-alert--sticky': type === 'global',
    'is-closed': openDelay !== null && openDelay > 0,
    'aui-color-text-light': audiStyle === 'dark',
    'aui-color-text-dark': audiStyle === 'light'
  }"
  role="alert"
  [attr.data-opendelay]="openDelay !== null && openDelay > 0 ? openDelay : null"
>
  <div class="aui-alert__content">
    <!-- NOTE: add 'data-close' attribute to projected elements, e.g., a button, to close this alert -->
    <!--
      BUT if using a host element, e.g., audi-button, you must use applyAttribute directive
      to propagate the element to the inner html element or else audi ui's js cannot detect it,
      e.g.,:
        <audi-button
          applyAttribute
          [attributeName]="'data-close'"
          [applyToInnerNode]="true"
          >Primary</audi-button
        >
    -->
    <ng-content></ng-content>
  </div>
</div>
