<div class="header" *transloco="let translationOutput">
  <div
    class="header-bg"
    #headerBg
    [ngStyle]="{
      backgroundImage: isDesktop
        ? 'url(' + desktopBgImageUrl + ')'
        : 'url(' + mobileBgImageUrl + ')'
    }"
  ></div>
  <h1 class="aui-headline-2 z-2 text-white text-center" *ngIf="!!title">
    {{ title }}
  </h1>
  <h4 class="aui-headline-4 z-2 text-white mt-2 text-center" *ngIf="!!subTitle">
    {{ subTitle }}
  </h4>
  <small class="aui-small z-2 text-white mt-3 text-center" *ngIf="!!resultCount">
    {{ resultCount }} {{ resultLabel }}
  </small>
</div>
