<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        class="
          not-found-message-wrapper
          h-100
          w-100
          d-flex
          justify-content-center
          align-items-center
          flex-column
        "
      >
        <h1 style="font-size: 120px" class="text-center">404</h1>
        <h2 class="mt-4 pt-2 text-center">查無資訊</h2>
        <h3 class="mt-2 text-center">
          We couldn't find the page you requested.
        </h3>
      </div>
    </div>
  </div>
</div>
