<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <audi-sys-language-selector></audi-sys-language-selector>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card mt-3">
      <div
        class="
          card-header
          py-3
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <span class="d-flex align-items-center"> 產品管理 | PRODUCTS </span>

        <button
          class="btn btn-primary m-0"
          routerLink="/manage/products/items/new"
        >
          新增產品 New Product
        </button>
      </div>
      <div class="card-body">
        <clr-datagrid
          (clrDgRefresh)="refreshDatagrid($event)"
          [clrLoading]="datagridLoading"
        >
          <clr-dg-column
            >名稱 Name
            <audi-sys-clr-dg-serverside-string-filter
              [filter]="productNameFilter"
            ></audi-sys-clr-dg-serverside-string-filter>
          </clr-dg-column>

          <clr-dg-column>
            類別 Category
            <audi-sys-clr-dg-product-category-filter
              [filter]="productCategoryIdFilter"
            ></audi-sys-clr-dg-product-category-filter>
          </clr-dg-column>

          <clr-dg-column>
            價格 Price
            <audi-sys-clr-dg-serverside-range-filter
              [filter]="priceFilter"
            ></audi-sys-clr-dg-serverside-range-filter>
          </clr-dg-column>
          <clr-dg-column>
            庫存 Stock
            <audi-sys-clr-dg-serverside-range-filter
              [filter]="stockFilter"
            ></audi-sys-clr-dg-serverside-range-filter>
          </clr-dg-column>

          <clr-dg-column>
            顯示狀態 Visibility
            <audi-sys-clr-dg-boolean-btn-filter
              [filter]="isVisibleFilter"
              [trueDisplayValue]="true | toZh: 'isVisible'"
              [falseDisplayValue]="false | toZh: 'isVisible'"
            ></audi-sys-clr-dg-boolean-btn-filter>
          </clr-dg-column>

          <clr-dg-column
            >折扣狀態 Discount Status
            <audi-sys-clr-dg-boolean-btn-filter
              [filter]="isDiscountedFilter"
              [trueDisplayValue]="true | toZh: 'isDiscounted'"
              [falseDisplayValue]="false | toZh: 'isDiscounted'"
            ></audi-sys-clr-dg-boolean-btn-filter>
          </clr-dg-column>

          <clr-dg-row *ngFor="let product of products" [clrDgItem]="product">
            <clr-dg-action-overflow>
              <button
                class="action-item"
                [routerLink]="['/manage/products/items/', product.id]"
              >
                編輯 Edit
              </button>
              <button class="action-item" (click)="promptDelete(product)">
                刪除 Delete
              </button>
            </clr-dg-action-overflow>

            <clr-dg-cell>{{ product.name }}</clr-dg-cell>
            <clr-dg-cell>
              {{
                (
                  product.productCategoryId
                  | map: productCategoryMapperFn(productCategories)
                )?.name
              }}
            </clr-dg-cell>

            <clr-dg-cell>
              <ng-container *ngIf="product.isDiscounted">
                <span class="discounted">{{
                  product.price - product.discountAmount
                }}</span>
                &nbsp;
                <span class="original-price">{{ product.price }}</span>
              </ng-container>
            </clr-dg-cell>

            <clr-dg-cell>{{ product.stock }}</clr-dg-cell>

            <clr-dg-cell>{{
              product.isVisible | toZh: 'isVisible'
            }}</clr-dg-cell>

            <clr-dg-cell>{{
              product.isDiscounted | toZh: 'isDiscounted'
            }}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-placeholder>
            <p class="text-center mt-0">查無資料</p>
            <p class="text-center mt-0 mb-1">No Data Available</p>
          </clr-dg-placeholder>

          <clr-dg-footer>
            <clr-dg-pagination
              *ngIf="paging != null"
              #pagination
              [clrDgPage]="paging.currentPage"
              [clrDgPageSize]="productParams.pageSize"
              [clrDgTotalItems]="paging.totalItems"
            >
              <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50]">
                每頁顯示筆數
              </clr-dg-page-size>
              {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} 之
              {{ pagination.totalItems }} 筆
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="confirmDeleteModalOpen" [clrModalClosable]="false">
  <h3 class="modal-title">刪除產品 Delete Product</h3>
  <div class="modal-body">
    <ng-container *ngIf="productToDelete !== null">
      <p class="my-1">
        確定要刪除
        <strong>{{ productToDelete.name }}</strong
        >?
      </p>
      <p class="mt-2 mb-1">
        Are you sure you want to delete
        <strong>{{ productToDelete.name }}</strong
        >?
      </p>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline"
      (click)="cancelDelete()"
    >
      取消 Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onDelete(productToDelete!.id)"
    >
      確認 Ok
    </button>
  </div>
</clr-modal>
