:root {
  --clr-btn-primary-bg-color: var(--audi-black);
  --clr-btn-primary-color: var(--audi-white);
  --clr-btn-primary-border-color: var(--audi-black);
  --clr-btn-primary-hover-bg-color: var(--audi-grey-10);
  --clr-btn-primary-hover-color: var(--audi-white);
  --clr-btn-primary-box-shadow-color: var(--audi-grey-8);
  --clr-btn-default-bg-color: var(--audi-white);
  --clr-btn-default-color: var(--audi-black);
  --clr-btn-default-border-color: var(--audi-black);
  --clr-btn-default-hover-bg-color: var(--audi-grey-1);
  --clr-btn-default-hover-color: var(--audi-black);
  --clr-btn-default-box-shadow-color: var(--audi-black);
  --clr-btn-success-disabled-border-color: #666666;
  --clr-forms-focused-color: var(--audi-black);
  --clr-forms-invalid-color: var(--audi-red);
  --clr-forms-textarea-focused-outline: 0 0 0.1rem 0.1rem var(--audi-grey-6);
  --clr-nav-active-box-shadow-color: var(--audi-black);
}

* {
  outline: unset !important;
}

.btn:disabled {
  clr-icon {
    color: #666 !important;
  }
}

.clr-input-width {
  width: 100% !important;
  &.clr-error {
    width: calc(100% - 20px) !important;
  }
}

.clr-select-width {
  .clr-control-container,
  .clr-select-wrapper,
  .clr-select {
    width: 100% !important;
    &.clr-error {
      width: calc(100% - 20px) !important;
    }
  }
}

.clr-radio-wrapper {
  input[type='radio']:checked + label::before {
    box-shadow: inset 0 0 0 0.3rem $audi-grey-8 !important;
  }
}

.clr-control-container {
  &--no-labels {
    label {
      display: none;
    }
  }
  &--no-max-height {
    .clr-input-wrapper {
      max-height: unset !important;
    }

    .clr-input {
      height: unset !important;
      max-height: unset !important;
    }
  }
}

.login-wrapper {
  background: url('../../assets/login-img.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-body {
  .datagrid {
    margin-top: 0 !important;
    border: unset;
    &-detail {
      &-body {
        padding-bottom: 20px;
        overflow-y: auto;
      }
      &-pane {
        margin-top: 0;
        border: unset;
      }
    }
    &-footer {
      border: unset;
    }
  }
}

.datagrid-filter {
  form {
    audi-sys-product-category-selector {
      clr-select-container {
        &.clr-form-control {
          margin-top: 0;
        }
      }
    }
  }
}

.clr-accordion-header-button {
  display: flex;
  align-items: center;
}
