<div class="audi-ql-preview-wrapper">
  <div class="audi-ql-preview">
    <div class="ql-container ql-snow">
      <div class="ql-editor" [innerHtml]="value"></div>
    </div>
  </div>
  <button
    class="btn btn-icon btn-primary--audi btn-icon--audi"
    type="button"
    (click)="onEdit()"
  >
    <clr-icon shape="edit"></clr-icon>
    編輯
  </button>
</div>

<clr-modal
  class="audi-quill-editor-modal"
  [(clrModalOpen)]="modalOpen"
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
>
  <div class="modal-body">
    <form clrForm [formGroup]="innerForm">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>編輯器 WYSIWYG</button>
          <ng-template [(clrIfActive)]="wysiwygTabActive">
            <clr-tab-content>
              <quill-editor
                #quillEditor
                formControlName="content"
                [modules]="quillModules"
                [format]="'html'"
                [bounds]="'self'"
                [sanitize]="true"
                (onEditorCreated)="onEditorInit($event)"
              ></quill-editor>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>HTML</button>
          <ng-template [(clrIfActive)]="htmlTabActive">
            <clr-tab-content>
              <textarea
                class="w-100 clr-textarea"
                formControlName="content"
                rows="10"
              ></textarea>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
      </clr-tabs>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary-outline--audi"
      (click)="onCancel()"
      [hidden]="loading"
    >
      取消 Cancel
    </button>
    <button type="button" class="btn btn-primary--audi" (click)="onSubmit()">
      確認 Submit
    </button>
  </div>
</clr-modal>
