/* Audi Type Font */

@font-face {
  font-family: 'AudiTypeScreen';
  src: url('~/assets/fonts/audi-type-en/AudiTypeScreen-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'AudiTypeScreen';
  src: url('~/assets/fonts/audi-type-en/AudiTypeScreen-Normal.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'AudiTypeScreen';
  src: url('~/assets/fonts/audi-type-en/AudiTypeScreen-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'AudiTypeExtended';
  src: url('~/assets/fonts/audi-type-en/AudiType-ExtendedNormal.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'AudiTypeExtended';
  src: url('~/assets/fonts/audi-type-en/AudiType-ExtendedBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'AudiTypeScreen';
  src: url('~/assets/fonts/audi-type-en/AudiType-ExtendedNormal.ttf');
  font-weight: 400;
  font-stretch: expanded;
}

@font-face {
  font-family: 'AudiTypeScreen';
  src: url('~/assets/fonts/audi-type-en/AudiType-ExtendedBold.ttf');
  font-weight: 700;
  font-stretch: expanded;
}

/* Noto Sans Chinese Font */

@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Light.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-DemiLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Thin.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('~/assets/fonts/noto-sans-zh/NotoSansCJKtc-Black.otf');
  font-weight: 900;
}

$font-family-sans-serif: 'AudiTypeScreen', 'Noto Sans CJK TC', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;
