:host(.w-full) {
  .aui-card {
    width: 100%;
  }
}

:host(.block) {
  .aui-card {
    display: block;
  }
}

:host {
  flex: 1 1 auto;
  width: 100%;
}

.aui-card--action {
  cursor: pointer;
}

// hide if ng content is empty
// see: https://stackoverflow.com/questions/38692881/how-to-check-whether-ng-content-exists
.aui-card__content:empty {
  display: none;
}

.aui-card__cover-image {
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s var(--audi-transition-timing-function);
  opacity: 1;
}
