<ng-container *transloco="let translationOutput">
  <audi-img-header
    [title]="translationOutput('membersArea.title')"
    desktopBgImageUrl="/assets/images/members-area-bg.webp"
    mobileBgImageUrl="/assets/images/members-area-bg.webp"
  ></audi-img-header>

  <div class="aui-layout">
    <div class="aui-grid">
      <div class="aui-cell aui-cell--12 py-4 md:py-10">
        <audi-nav-tabs (onTabIndexChange)="onTabIndexChange($event)" theme="white">
          <audi-nav-tab
            [tabTitle]="translationOutput('membersArea.personalInfo')"
            [isActive]="activeRoute === 'personal-info'"
          >
            <audi-members-personal-info
              *ngIf="activeRoute === 'personal-info'"
            ></audi-members-personal-info>
          </audi-nav-tab>
          <audi-nav-tab
            [tabTitle]="translationOutput('membersArea.likedProducts')"
            [isActive]="activeRoute === 'liked-products'"
          >
            <audi-members-liked-product
              *ngIf="activeRoute === 'liked-products'"
            ></audi-members-liked-product>
          </audi-nav-tab>
          <audi-nav-tab
            [tabTitle]="translationOutput('membersArea.orderHistory')"
            [isActive]="activeRoute === 'order-history'"
          >
            <audi-members-order-list
              *ngIf="activeRoute === 'order-history'"
            ></audi-members-order-list>
          </audi-nav-tab>
        </audi-nav-tabs>
      </div>
    </div>
  </div>
</ng-container>
