<ng-container *transloco="let translationOutput">
  <!-- TODO: transloco -->
  <audi-img-header
    [title]="'會員中心'"
    desktopBgImageUrl="/assets/images/members-area-bg.webp"
    mobileBgImageUrl="/assets/images/members-area-bg.webp"
  ></audi-img-header>

  <div class="aui-layout">
    <div class="aui-grid">
      <div class="aui-cell aui-cell--12">
        <audi-nav-tabs>
          <audi-nav-tab tabTitle="個人資料" [isActive]="true">
            <audi-members-personal-info></audi-members-personal-info>
          </audi-nav-tab>
          <audi-nav-tab tabTitle="追蹤商品">
            <audi-members-liked-product></audi-members-liked-product>
          </audi-nav-tab>
          <audi-nav-tab tabTitle="訂單歷史">
            <audi-members-order-list></audi-members-order-list>
          </audi-nav-tab>
        </audi-nav-tabs>
      </div>
    </div>
  </div>
</ng-container>
