<div
  class="aui-textfield aui-js-textfield mt-3"
  [ngClass]="{
    'aui-textfield--floating-label': floatingLabel,
    'aui-textfield--icon': !isNullOrEmptyString(iconName),
    'aui-theme-light': isLightTheme,
    'is-dirty': control.dirty && control.touched,
    'is-valid': control.valid && control.touched,
    'is-invalid': control.invalid && control.touched,
    'is-disabled': isDisabled
  }"
>
  <div class="aui-textfield__field">
    <audi-icon
      *ngIf="!isNullOrEmptyString(iconName)"
      [ngClass]="{
        'text-white': isLightTheme,
        'text-error': control.touched && control.invalid
      }"
      [size]="'small'"
      [iconName]="iconName"
    ></audi-icon>
    <input class="aui-textfield__input" [formControl]="control" [type]="type" />
    <label class="aui-textfield__label"
      >{{ label }}<span class="aui-small">{{ smallLabel }}</span></label
    >
  </div>
  <ng-content
    *ngIf="
      (control.pristine && control.untouched) ||
      (control.untouched && control.dirty && control.valid)
    "
    select="audi-control-description"
  ></ng-content>

  <ng-content
    *ngIf="control.touched && control.dirty && control.valid"
    select="audi-control-valid"
  ></ng-content>

  <ng-content
    *ngIf="control.touched && control.invalid"
    select="audi-control-error"
  ></ng-content>
</div>
