:host(.flex) {
  button.aui-button {
    display: flex;
  }
}

:host(.items-center) {
  button.aui-button {
    align-items: center;
  }
}

:host(.flex-row-reverse) {
  button.aui-button {
    flex-direction: row-reverse;
  }
}

:host(.block) {
  button.aui-button {
    display: block;
  }
}

:host(.w-full) {
  button.aui-button {
    width: 100%;
  }
}
