<ng-container *ngIf="cart$ | async; let cart">
  <div
    class="audi-cart"
    [ngClass]="{
      active: menuIsOpen
    }"
    *transloco="let translationOutput"
  >
    <div class="audi-cart__overlay" (click)="menuIsOpen = false"></div>
    <div class="audi-cart__menu-container">
      <div class="audi-cart__menu-close-btn-wrapper">
        <div
          class="audi-cart__menu-close-btn"
          [ngClass]="{ 'inactive-animation': !menuIsOpen }"
        >
          <audi-button type="icon-large" (click)="menuIsOpen = false">
            <audi-icon size="large" [iconName]="'cancel'"></audi-icon>
          </audi-button>
        </div>
      </div>
      <div
        class="audi-cart__menu"
        [ngClass]="{ 'inactive-animation': !menuIsOpen }"
      >
        <!-- TODO: transloco -->
        <div class="py-6 px-8 w-full">
          <h1 class="aui-headline-4">Cart</h1>
        </div>
        <div class="audi-cart__menu__cart-items">
          <pre>{{ cart | json }}</pre>
        </div>
        <div class="py-6 px-8 w-full">
          <audi-button class="block w-full">Checkout</audi-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
