/*
  NOTE: aui-header has a z-index of 100
  we want the overlay to be right behind the header,
  but the side nav to be right on top of it.
*/

$audi-logo-width: 80px;
$audi-header-height: 56px;

.audi-cart {
  * {
    transition: 0.8s;
    transition-timing-function: cubic-bezier(0.75, 0.02, 0.5, 1);
  }

  &.active &__overlay {
    opacity: 0.8;
    z-index: 99;
  }

  &.active &__menu {
    animation: appear-menu 1.6s var(--audi-transition-timing-function) forwards;
    display: flex;
  }

  &.active &__menu-container {
    width: 100vw;
    max-width: 100vw;

    @media (min-width: 768px) {
      width: calc(50vw - #{$audi-logo-width});
      max-width: calc(50vw - #{$audi-logo-width});
    }

    @media (min-width: 992px) {
      width: 375px;
      max-width: 375px;
    }
  }

  &.active &__menu-close-btn {
    animation: appear-close-btn 0.8s var(--audi-transition-timing-function)
      forwards;
    display: inline-flex;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--audi-black);
    opacity: 0;
    z-index: -1;
  }

  &__menu {
    height: calc(100vh - #{$audi-header-height});
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__cart-items {
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }

    &.inactive-animation {
      animation: disappear-menu 0.4s var(--audi-transition-timing-function)
        forwards;
      display: flex;
    }

    &-container {
      position: fixed;
      background-color: white;
      width: 0;
      max-width: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 101;
      overflow-x: hidden;
    }

    &-close-btn {
      margin-left: auto;
      display: none;

      &.inactive-animation {
        animation: disappear-close-btn 0.8s
          var(--audi-transition-timing-function) forwards;
        display: inline-flex;
      }

      &-wrapper {
        height: $audi-header-height;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes appear-close-btn {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: inline-flex;
  }
}

@keyframes disappear-close-btn {
  0% {
    opacity: 1;
    display: inline-flex;
  }

  99% {
    opacity: 0;
    display: inline-flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes appear-menu {
  0% {
    opacity: 0;
    display: none;
  }

  15% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes disappear-menu {
  0% {
    opacity: 1;
    display: flex;
  }

  99% {
    opacity: 0;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
