.hero-slide {
  height: var(--full-screen-height-minus-audi-header);
  align-content: center;
  &__gallery,
  &__product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    max-height: 40vh;

    @media (min-width: 768px) {
      // height: var(--full-screen-height-minus-audi-header);
      // max-height: var(--full-screen-height-minus-audi-header);
      height: 70vh;
      max-height: 70vh;
    }
  }
}
